.edit-feeds {
  .feed-category {
    margin-bottom: 20px;
  }

  .feed-item {
    text-align: center;
    display: inline-block;
    padding: 10px 60px;
    img {
      margin-bottom: 20px;
    }
  }
}