.feed-groups {

  .feed-groups-menu {
    button {
      font-size: xx-small;
    }
  }

  .feed-group-items {
    margin-top: 50px;
  }

  .feed-group {
    margin-left: 15px;
  }

  .all-feeds {
    margin-bottom: 20px;
  }

  .feed-group-title {
    margin-top: 20px;
  }
}