<h2>Add and Edit Feeds</h2>

<button class="btn btn-default new-feed">Add New Feed</button>

<h4 class="feed-category">Feed Category</h4>
<ul class="suggested-feeds list-unstyled">
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
</ul>

<h4 class="feed-category">Science</h4>
<ul class="suggested-feeds list-unstyled">
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
</ul>

<h4 class="feed-category">Politics</h4>
<ul class="suggested-feeds list-unstyled">
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
  <li class="feed-item">
    <a href="#">
      <img src="http://dummyimage.com/150x150" alt="" class="img-circle">
      <br />
      Feed Name
    </a>
  </li>
</ul>

<!-- <a class="new-feed">
  <span class="plus">+</span>
</a> -->