<nav class="feed-groups-utils">
<!--   <div class="btn-group btn-group-justified feed-groups-menu" role="group" aria-label="...">
    <div class="btn-group">
      <button type="button" class="btn btn-default">New Feed</button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default">New Group</button>
    </div>
  </div> -->
  <input type="text" class="form-control feed-groups-filter" placeholder="Filter feeds..." />
</nav>

<div class="feed-group-items">
  <h5 class="all-feeds">All Feeds</h5>
  <h5 class="add-feed"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Feed Group</h5>


  <h5 class="feed-group-title"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>Feed Group Name <span class="badge">8</span></h5>
  <ul class="feed-group list-unstyled">
    <li>Feed Name <span class="badge">2</span></li>
    <li>Feed Name</li>
    <li>Feed Name<span class="badge">6</span></li>
    <li>Feed Name</li>
    <li>Add New Feed...</li>
  </ul>
  <h5 class="feed-group-title"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Feed Group Name</h5>
  <h5 class="feed-group-title"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>Feed Group Name <span class="badge">12</span></h5>
  <h5 class="feed-group-title"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>Feed Group Name <span class="badge">24</span></h5>
  <ul class="feed-group list-unstyled">
    <li>Feed Name <span class="badge">9</span></li>
    <li>Feed Name <span class="badge">3</span></li>
    <li>Feed Name</li>
    <li>Feed Name <span class="badge">12</span></li>
    <li>Add New Feed...</li>
  </ul>
  <h5 class="feed-group-title"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>Feed Group Name</h5>
  <ul class="feed-group list-unstyled">
    <li>Feed Name</li>
    <li>Feed Name</li>
    <li>Feed Name</li>
    <li>Feed Name</li>
    <li>Add New Feed...</li>
  </ul>
</div>

<!-- <span class="add-new-feed">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <br/ >
  <small>New Feed</small>
</span> -->
