<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
<li class="feed-item">
  <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="http://lorempixel.com/g/60/60/abstract" alt="..." class="img-responsive">
    </a>
  </div>
  <div class="media-body">
    <h6 class="media-heading">Article Title Goes Here, May Wrap</h6>
    <small>Author Name * June 25, 2016</small>
  </div>
</div>
</li>
