<div class="container-fluid app-columns">

    <section class="col-sm-2 app-column feed-groups" id="feed-groups">
      <%= render 'feed_groups' %>
    </section>
  

    <div class="col-sm-10 right-pane">
      <%= render 'layouts/top_nav' %>
      <section class="app-column edit-feeds" id="edit-feeds">
        <%= render 'edit_feeds' %>
      </section>
    </div>
</div>