.add-to-folder-item {
  width: 100%;
  margin: 10px 0;

  .btn-hollow-inner .glyphicon {
    float: right;
    display: none;
  }

  .btn-hollow-inner {
    text-align: left;
    text-transform: capitalize;
  }

  &.selected .btn-hollow-inner {
    color: white;
    background: transparent;
    .glyphicon {
      display: inline-block;
    }
  }

  &:hover .btn-hollow-inner .glyphicon {
    display: inline-block;
  }

}