section.login-signup-container {
  background: linear-gradient(175deg, #9d5c9f 0%, #5156ac 100%);
  height: 100%;
  text-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .navbar-text {
    float: none;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }
}

h1.site-title {
  color: white;
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
}

.errors li {
  list-style: none;
  color: #FFDD83;
}

.login-form {
  text-align: left;
  label {
    @extend .h3;
  }
  .btn {
    border: none;
    &.form-control:hover, &.form-control:active, &.form-control:focus {
      box-shadow: none;
    }
  }

  .btn-success {
    width: calc(50% - 10px);
    MARGIN: 0 5px;
  }

  .btn-spinner-text {
    display: inline-block;
    padding-right: 15px;
    padding-top: 2px;
  }

  .spinner {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}