.left-pane {
  padding: 15px;
}

.right-pane {
  padding: 0;
  height: 100%;
  padding-top: 50px;
  position: relative;
}

// .navbar.header {
//   margin-bottom: 0;
//   position: absolute;
//   top: 0;
//   z-index: 1;
//   width: 100%;
// }