html, body {
  height: 100%;
}

.app-columns {
  display: block;
  width: 100%;
  // height: calc(100% - 60px);
  height: 100%;
  // margin-top: -50px;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.app-column {
  // height: calc(100% - 50px);
  height: 100%;
  padding: 0;
  overflow-y: scroll;

}




.header {
  border-radius: 0;
  border: 0;
}

.row {
  height: 100%;
}





.new-feed {
  position: absolute;
  top: 20px;
  right: 30px;
}