<!DOCTYPE html>
<html>
<head>
  <title>Mockups</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- <footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="text-muted">Footer Content (May eliminate?)</p>
    </div>
  </nav>
</footer> -->
</body>
</html>
